[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/soulninja/Desktop/randomstuff]
row=4
col=0

[/home/soulninja/Desktop/fxmlinjectors.md]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/soulninja]
row=2
col=0

